<div class="panel panel-default">
  <div class="list-group">
    <a ui-sref="gestionUsuarios" class="list-group-item" ng-class="cero"><span class="glyphicon glyphicon-cog"></span> Gestión de Usuarios</a>
    <a href="#" class="list-group-item" ng-class="uno">Gestión de Ingresos</a>
    <a href="#" class="list-group-item" ng-class="dos">Gestión de Egresos</a>
    <a href="#" class="list-group-item" ng-class="tres">Gestión de Metas</a>
    <a href="#" class="list-group-item" ng-class="cuatro">Gastos mensaules</a>
    <a ui-sref="simulador" class="list-group-item" ng-class="cinco">Simulador de ahorro</a>
    <a href="#" class="list-group-item" ng-class="seis">Reporte 1</a>
  </div>
</div>