<header>
  <nav class="navbar navbar-inverse" ng-include=" 'app/template/partial/menu.html'"></nav>
</header>

<div class="container myBody">
  <nav class="hidden-xs" ng-include=" 'app/template/partial/menuLeft.html'"></nav>

  <main>
    <div class="panel panel-default panelPrincipal">
      <div class="panel-body">
        <div class="jumbotron">
          <h1>Planificador</h1>
          <p>Gestión de gastos mensuales y simulación de ahorro</p>
        </div>
      </div>
    </div>
  </main>
</div>