<header>
  <nav class="navbar navbar-inverse" ng-include=" 'app/template/partial/menu.html'"></nav>
</header>

<div class="container myBody">
  <nav class="hidden-xs" ng-include=" 'app/template/partial/menuLeft.html'"></nav>

  <main>
    <div class="panel panel-default panelPrincipal">
      <div class="panel-body">

        <div class="page-header">
          <h1>Gestión de usuarios</h1>
        </div>

        <div class="text-right">
          <span data-toggle="modal" data-target="#modalAgregar" style="font-size: 20px">Agregar Usuario</span>
          <img class="img-circle iconoAgregar" src="img/IconoAgregar.png" data-toggle="modal" data-target="#modalAgregar">
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Cedula</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="usuario in usuarios">
                <td class="centro" hidden>{{usuario.usu_id}}</td>
                <td class="centro">{{usuario.usu_cedula}}</td>
                <td class="centro">{{usuario.usu_alias}}</td>
                <td class="centro">{{usuario.rol_id}}</td>
                <td class="centro">{{usuario.usu_created_at}}</td>
                <td>
                  <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="editar(usuario)">Editar</button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(usuario)">Eliminar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- MODAL AGREGAR -->
<div class="modal fade" id="modalAgregar">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="page-header">
              <p>Nuevo Usuario</p>
            </div>
            <form ng-submit="submitAgregar()">
              <div class="form-group has-error has-feedback">
                <input pattern="[0-9]+" title="Solo se permite Numeros" ng-model="usuarioNuevo.cedula" type="text" id="cedula" class="form-control" placeholder="Cedula" required ng-trim="true" maxlength="10">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span class="help-block">El usuario ya existe</span>
              </div>
              <div class="form-group has-error has-feedback">
                <input pattern="[a-zA-Z]+" title="Solo se permite letras mayusculas y/o minusculas" ng-model="usuarioNuevo.usuario" type="text" id="usuario" class="form-control" placeholder="Usuario" required ng-trim="true" maxlength="20">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span class="help-block">El usuario ya existe</span>
              </div>
              <div class="form-group">
                <input ng-model="usuarioNuevo.contrasena" type="password" id="contrasena" class="form-control" placeholder="Contraseña" required>
              </div>
              <div class="form-group has-error has-feedback">
                <select ng-model="usuarioNuevo.rol_id" class="form-control" required>
                  <option value="">Selecione el rol</option>
                  <option value="1">Administrador</option>
                  <option value="2">Cliente</option>
                </select>
                <span class="help-block">El usuario ya existe</span>
              </div>
              <div class="text-right">
                <button class="btn btn-primary" type="submit">Agregar</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade" id="modalEditar">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="page-header">
              <p>Editar Usuario</p>
            </div>
            <form ng-submit="submitEditar()">
              <div class="form-group" hidden>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i>
                  </span>
                  <input type="text" class="form-control" ng-model="edit.id" aria-label="..." readonly placeholder="id">
                </div>
              </div>
              <div class="form-group has-error has-feedback">
                <input pattern="[0-9]+" title="Solo se permite Numeros" ng-model="edit.cedula" type="text" id="cedula" class="form-control" placeholder="Cedula" required ng-trim="true" maxlength="10">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span class="help-block">El usuario ya existe</span>
              </div>
              <div class="form-group has-error has-feedback">
                <input pattern="[a-zA-Z]+" title="Solo se permite letras mayusculas y/o minusculas" ng-model="edit.usuario" type="text" id="usuario" class="form-control" placeholder="Usuario" required ng-trim="true" maxlength="20">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span class="help-block">El usuario ya existe</span>
              </div>
              <div class="form-group">
                <input ng-model="edit.contrasena" type="password" id="contrasena" class="form-control" placeholder="Contraseña" required>
              </div>
              <div class="form-group has-error has-feedback">
                <select ng-model="edit.rol_id" class="form-control" required>
                  <option value="">Selecione el rol</option>
                  <option value="1">Administrador</option>
                  <option value="2">Cliente</option>
                </select>
                <span class="help-block">El usuario ya existe</span>
              </div>
              <div class="text-right">
                <button class="btn btn-primary" type="submit">Editar</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ELIMINAR -->
<div class="modal fade" id="modalEliminarUsuario">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="page-header">
              <p>Eliminar Usuario</p>
            </div>
            Se va a Eliminar El Usario
            <h3>{{alias}}</h3>
            <div class="text-right">
              <button ng-click="submitEliminar()" type="button" class="btn btn-danger btn-block btn-sm">Eliminar</button>
              <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>