.formLogin {
  padding: 0px;
  margin: 0 auto;
}

.formLogin-heading {
  margin-top: 10px;
}

.formLogin .formLogin-heading, .formLogin .checkbox {
  margin-bottom: 10px;
}

.formLogin .checkbox {
  font-weight: normal;
}

.formLogin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.formLogin .form-control:focus {
  z-index: 2;
}
.formLogin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.formLogin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}